{% extends 'base.html' %}
{% block content %}
<div class="container" style="max-width:400px;margin-top:80px;">
    <h2>Login</h2>
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label>Email</label>
            <input type="email" name="email" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>Password</label>
            <input type="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
 <p style="margin-top:12px; margin-left:30%; margin-right:30%;">Don't have an account? <a href="/auth/signup/">Sign up</a></p>

{% endblock %}